<!-- <link rel="stylesheet" href="/public/styles/output.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"> -->


        <footer>
            <div class="w-full h-[200px] flex flex-col items-center justify-center gap-10 bg-gray-800 ">
                <ul class="flex items-center md:space-x-28 space-x-10 md:text-3xl text-2xl text-white">
                    <li class="transition-transform duration-300 hover:scale-125 hover:text-rose-500"><a href="https://www.instagram.com/sougata__purkait"><i class="fa-brands fa-instagram"></i></a></li>
                    <li class="transition-transform duration-300 hover:scale-125 hover:text-blue-500"><a href="https://www.facebook.com/sougata.purkait.35"><i class="fa-brands fa-facebook"></i></a></li>
                    <li class="transition-transform duration-300 hover:scale-125 "><a href="https://x.com/purkait_sougata"><i class="fa-brands fa-square-x-twitter"></i></a></li>
                    <li class="transition-transform duration-300 hover:scale-125 hover:text-blue-500"><a href="https://www.linkedin.com/in/sougata-purkait-0988ba302/"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li class="transition-transform duration-300 hover:scale-125"><a href="https://github.com/purkait03"><i class="fa-brands fa-github"></i></a></li>
                </ul>

                <ul class="flex md:gap-24 gap-5 underline text-gray-400">
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </footer>

</body>
</html>