<%- include("partials/header.ejs") %>



<div class=" space-y-16 text-center p-32">
    <h1 class="font-bold text-3xl text-blue-600">About Me</h1>
    <img class="mx-auto rounded-full w-28 " src="/images/name.jpg" alt="cat profile">
    <p class="text-xl">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda eos non obcaecati modi minus saepe architecto id alias. Necessitatibus quidem quod sit perlorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Et adipisci eveniet veritatis alias repudiandae, veniam ad quaerat, in autem maxime voluptate rerum aperiam quidem debitis qui? Sit, sunt non explicabo atque deserunt aliquam. Delens, officiis id molestias debitis ullam praesentium, sunt architecto excepturi? Temporibus quis quod tempore! ferendis nam dolor ea accusamus nemo, ipsam, officia voluptas, qui quis.</p>
</div>
 